*{
    font-family: 'Philosopher', sans-serif;
    margin: 0 0;
}

body{
    background-color: black;
}
.intro{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./images/cover.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: -20%;
    
}
#name{
    color: rgb(164, 48, 67);
    font-family: 'Philosopher', sans-serif;
}

h1{

    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
    color: rgb(164, 48, 67);
    margin-top: 20%;
    padding: 20px;
    padding-top: 5%;
    font-size: 3rem;
    letter-spacing: .1cm;
    font-weight:bolder;
}
/* span{
    color: rgb(164, 48, 67);
} */
h2{
    text-align: center;
    color: white;
    padding-top: 3%;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 0.1cm;
    line-height: 1em;
}

.row1{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(5, 52, 5);
    margin: 5px;
    flex: 1;
    font-size: 1.2rem;
    color: white;
    height: 58vh;
}

.row1 div{
    border: 5px solid black;
    padding: 5px;
    flex: 1;
    text-align: center;
    background: linear-gradient(to right, rgb(5, 52, 5),black);
}


button{
    padding: 10px;
    border-radius: 10px;
    width: 70px;
    color: black;
    font-weight: 800;
    margin-right: 10px;

}
.row2{
    display: flex;
    justify-content: center; 
    /* border: 1px solid black; */
    flex-wrap: wrap;
    padding: 10px;
}

.row3{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */

}

/* .container{
    border: 1px solid black;
} */
table,th,td{
padding: 5px;
border: 2px solid pink;
}

img{
    height: 10vh;
    padding: 10px;
}

.rules{
    background:linear-gradient(to right,black,#1E0909,black);
    margin-top: -300px;
}

.buttons{
display: flex;
justify-content: space-evenly;
padding: 10px;

}
a{
color: white;
text-decoration: none;
background-color: steelblue;
border-radius: 20px;
padding: 10px;

}
li{
    color: pink;
    /* text-align: center; */
    font-size: 1.3rem;
    list-style: georgian;
    font-family: 'Philosopher', sans-serif;
    
}

h3{
    color: white;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}

.arena{
    padding-top:5% 
}

#message{
    color: rgb(164, 48, 67);
    font-size: 1.5rem;
}
